{
  "openapi": "3.0.3",
  "info": {
    "title": "BoomReport API",
    "version": "1.0.0",
    "description": "Rent reporting (BoomReport) endpoints of the Boom Partner API: create customers, enroll them, keep lease terms current, and report rental payments that Boom furnishes to Experian, Equifax and TransUnion.\n\n**Authentication.** `POST /partner/v1/authenticate` with your API key pair returns a JWT; send it as `Authorization: Bearer <token>`. Keys are created self-serve under Settings → API in the Boom Partner Platform. Read-only keys may only call GET endpoints (writes return 403 `forbidden`). Keys scoped to owners or property groups only see matching records; anything else answers 404.\n\n**Conventions.** JSON request and response bodies. Every response carries an `X-Request-Id` header. Errors use one envelope: `{\"error\": {\"message\", \"status\", \"code\", \"request_id\"}}`. Lists use one envelope with `page` / `per_page` (max 1000) and a deterministic newest-first order. Money is `{cents, currency}`. Dates are `YYYY-MM-DD`, timestamps ISO 8601 UTC. See the Errors, Pagination, Rate limits and Versioning guides on docs.boompay.app.\n\nThe screening (BoomScreen) and CRM endpoints are documented in the companion BoomScreen API specification.",
    "contact": {
      "name": "Boom",
      "url": "https://www.boompay.app/",
      "email": "support@boompay.app"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.boompay.app",
      "description": "Sandbox — separate credentials, never reaches the credit bureaus"
    },
    {
      "url": "https://api.production.boompay.app",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Customers",
      "description": "Residents you want to report rent for."
    },
    {
      "name": "Enrollments",
      "description": "A customer's lease at one address; the unit of rent reporting."
    },
    {
      "name": "Rental payments",
      "description": "Partner-attested payment history."
    },
    {
      "name": "Plaid",
      "description": "Bank-transaction based payment verification."
    },
    {
      "name": "Ledgers",
      "description": "Payment-ledger based verification (Chime)."
    }
  ],
  "paths": {
    "/partner/v1/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "postPartnerV1Authenticate",
        "security": [],
        "summary": "Exchange API key pair for a JWT",
        "description": "Returns a bearer token. Tokens expire; request a new one when you receive a 401 with code `unauthenticated`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_key",
                  "secret_key"
                ],
                "properties": {
                  "access_key": {
                    "type": "string"
                  },
                  "secret_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "access_key": "ak_live_…",
                "secret_key": "sk_live_…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                },
                "example": {
                  "auth_token": "eyJhbGciOiJIUzI1NiJ9…"
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "getPartnerV1Authenticate",
        "summary": "Check that a bearer token is valid",
        "responses": {
          "200": {
            "description": "Token is valid; empty body",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "getPartnerV1Customers",
        "summary": "List customers",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "created_at"
            },
            "description": "Column to order by."
          },
          {
            "name": "order_direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers, newest first by default",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Customer"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "items": [
                    {
                      "id": "3YhTq9ZkLp2",
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "phone": "+14085551234",
                      "email": "jane.doe@example.com",
                      "dob": "1990-04-12"
                    }
                  ],
                  "current_page": 1,
                  "page_count": 1,
                  "total_count": 1,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "postPartnerV1Customers",
        "summary": "Create a customer",
        "description": "Email and phone must not already exist in Boom for this partner.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              },
              "example": {
                "first_name": "Jane",
                "last_name": "Doe",
                "phone": "4085551234",
                "email": "jane.doe@example.com",
                "dob": "1990-04-12"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerCustomer"
                },
                "example": {
                  "id": "3YhTq9ZkLp2",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "phone": "+14085551234",
                  "email": "jane.doe@example.com",
                  "dob": "1990-04-12",
                  "access_key": "pk_live_7Hx…-c9Qm…"
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "422": {
            "description": "Could not create customer (duplicate email/phone, or failed eligibility)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/check": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "postPartnerV1CustomersCheck",
        "summary": "Check whether a customer can be enrolled",
        "description": "Validates the customer payload against Boom's eligibility rules without creating anything.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCheckInput"
              },
              "example": {
                "first_name": "Jane",
                "last_name": "Doe",
                "phone": "4085551234",
                "email": "jane.doe@example.com"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Customer can be enrolled",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "422": {
            "description": "Customer can not be enrolled; `details` lists the failing fields",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "getPartnerV1CustomersCustomerId",
        "summary": "Get a customer",
        "responses": {
          "200": {
            "description": "Customer",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerCustomer"
                },
                "example": {
                  "id": "3YhTq9ZkLp2",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "phone": "+14085551234",
                  "email": "jane.doe@example.com",
                  "dob": "1990-04-12",
                  "access_key": "pk_live_7Hx…-c9Qm…"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "operationId": "patchPartnerV1CustomersCustomerId",
        "summary": "Update a customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              },
              "example": {
                "phone": "4085559999"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerCustomer"
                },
                "example": {
                  "id": "3YhTq9ZkLp2",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "phone": "+14085551234",
                  "email": "jane.doe@example.com",
                  "dob": "1990-04-12",
                  "access_key": "pk_live_7Hx…-c9Qm…"
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Request understood but could not be processed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "deletePartnerV1CustomersCustomerId",
        "summary": "Unenroll a customer",
        "description": "Stops rent reporting for the customer and deactivates them for this partner.",
        "responses": {
          "204": {
            "description": "Customer unenrolled",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/issues": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "getPartnerV1CustomersCustomerIdIssues",
        "summary": "List unresolved issues for a customer",
        "responses": {
          "200": {
            "description": "Unresolved issues (not paginated)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "issues"
                  ],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issue"
                      }
                    }
                  }
                },
                "example": {
                  "issues": [
                    {
                      "slug": "bank_verification_failed",
                      "title": "Bank Verification Failed",
                      "description": "We were unable to verify your bank account. Please reconnect your bank."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/issue_access_token": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "postPartnerV1CustomersCustomerIdIssueAccessToken",
        "summary": "Issue an SDK access token for a customer",
        "responses": {
          "200": {
            "description": "Token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiJ9…"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/partner/plaid/tokens": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "get": {
        "tags": [
          "Plaid"
        ],
        "operationId": "getPartnerV1CustomersCustomerIdPartnerPlaidTokens",
        "summary": "List linked Plaid processor tokens",
        "responses": {
          "200": {
            "description": "Plaid tokens",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PlaidToken"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "items": [
                    {
                      "id": "T3Lp2QZk9Yh",
                      "status": "active",
                      "created_at": "2026-06-01T15:04:05Z",
                      "updated_at": "2026-06-01T15:04:05Z"
                    }
                  ],
                  "current_page": 1,
                  "page_count": 1,
                  "total_count": 1,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/partner/plaid/link": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "post": {
        "tags": [
          "Plaid"
        ],
        "operationId": "postPartnerV1CustomersCustomerIdPartnerPlaidLink",
        "summary": "Link a Plaid processor or relay token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Exactly one of `processor_token` or `relay_token`.",
                "properties": {
                  "processor_token": {
                    "type": "string"
                  },
                  "relay_token": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "processor_token": "processor-sandbox-…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Linked",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerCustomerWithPlaidToken"
                },
                "example": {
                  "id": "3YhTq9ZkLp2",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "phone": "+14085551234",
                  "email": "jane.doe@example.com",
                  "dob": "1990-04-12",
                  "access_key": "pk_live_7Hx…-c9Qm…",
                  "plaid_token_id": "T3Lp2QZk9Yh"
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Plaid rejected the token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/partner/plaid/unlink": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "post": {
        "tags": [
          "Plaid"
        ],
        "operationId": "postPartnerV1CustomersCustomerIdPartnerPlaidUnlink",
        "summary": "Unlink a Plaid processor token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "processor_token"
                ],
                "properties": {
                  "processor_token": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "processor_token": "processor-sandbox-…"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Unlinked; empty body",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Request understood but could not be processed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/ledgers": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "get": {
        "tags": [
          "Ledgers"
        ],
        "operationId": "getPartnerV1CustomersCustomerIdLedgers",
        "summary": "List linked ledgers",
        "responses": {
          "200": {
            "description": "Ledgers",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Ledger"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "items": [
                    {
                      "id": "Zk9YhT3Lp2Q",
                      "name": "chime",
                      "status": "linked",
                      "created_at": "2026-06-01T15:04:05Z",
                      "updated_at": "2026-06-01T15:04:05Z"
                    }
                  ],
                  "current_page": 1,
                  "page_count": 1,
                  "total_count": 1,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ledgers"
        ],
        "operationId": "postPartnerV1CustomersCustomerIdLedgers",
        "summary": "Link a payment ledger",
        "description": "Currently supports `service_name: chime` with an OAuth authorization code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "service_name",
                  "authorization_code"
                ],
                "properties": {
                  "service_name": {
                    "type": "string",
                    "enum": [
                      "chime"
                    ]
                  },
                  "authorization_code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "service_name": "chime",
                "authorization_code": "auth_…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ledger linked",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ledger"
                },
                "example": {
                  "id": "Zk9YhT3Lp2Q",
                  "name": "chime",
                  "status": "linked",
                  "created_at": "2026-06-01T15:04:05Z",
                  "updated_at": "2026-06-01T15:04:05Z"
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unsupported ledger, or the provider rejected the link",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/customers/{customer_id}/ledgers/{ledger_id}": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer id as returned by this API (partner-scoped, opaque)."
        },
        {
          "name": "ledger_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Ledger id as returned by this API."
        }
      ],
      "get": {
        "tags": [
          "Ledgers"
        ],
        "operationId": "getPartnerV1CustomersCustomerIdLedgersLedgerId",
        "summary": "Get a ledger",
        "responses": {
          "200": {
            "description": "Ledger",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ledger"
                },
                "example": {
                  "id": "Zk9YhT3Lp2Q",
                  "name": "chime",
                  "status": "linked",
                  "created_at": "2026-06-01T15:04:05Z",
                  "updated_at": "2026-06-01T15:04:05Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ledgers"
        ],
        "operationId": "deletePartnerV1CustomersCustomerIdLedgersLedgerId",
        "summary": "Unlink a ledger",
        "responses": {
          "204": {
            "description": "Ledger unlinked",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/enrollments": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "operationId": "getPartnerV1Enrollments",
        "summary": "List enrollments",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Only enrollments for this customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollments, newest first",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Enrollment"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "items": [
                    {
                      "id": "Kp2Zq9YhT3L",
                      "address": {
                        "address1": "123 Main St",
                        "address2": "Apt 4B",
                        "city": "San Jose",
                        "state_or_province": "CA",
                        "postal_code": "95112",
                        "country": "US",
                        "lat": 37.3382,
                        "lng": -121.8863,
                        "one_line_address": "123 Main St, Apt 4B, San Jose, CA 95112"
                      },
                      "monthly_rent_amount": 1850.0,
                      "monthly_rent": {
                        "cents": 185000,
                        "currency": "USD"
                      },
                      "monthly_rent_day_of_month": 1,
                      "move_in_date": "2026-06-01",
                      "lease_end_date": "2027-05-31",
                      "lease_signed_date": "2026-05-20",
                      "lease_month_to_month": false,
                      "status": "approved",
                      "customer_id": "3YhTq9ZkLp2",
                      "issues": [],
                      "rental_verifications": [
                        {
                          "id": "Vq7Lm2Zk9Yh",
                          "for_month": "2026-08-01",
                          "status": "verified",
                          "months_delinquency": 0
                        }
                      ],
                      "checked_out": false,
                      "landlord": {
                        "contact_first_name": "Sam",
                        "contact_last_name": "Owner",
                        "company_name": "Acme Property Management",
                        "type": "property_manager",
                        "phone": "+14085559876",
                        "email": "sam@acme-pm.example"
                      },
                      "allow_landlord_contact": true,
                      "products": [
                        "ongoing"
                      ]
                    }
                  ],
                  "current_page": 1,
                  "page_count": 1,
                  "total_count": 1,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Enrollments"
        ],
        "operationId": "postPartnerV1Enrollments",
        "summary": "Create an enrollment",
        "description": "Creates the enrollment in `pending` state. Call `enroll` once lease details are complete.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentCreate"
              },
              "example": {
                "customer_id": "3YhTq9ZkLp2",
                "move_in_date": "2026-06-01",
                "lease_end_date": "2027-05-31",
                "lease_month_to_month": false,
                "monthly_rent_amount": 1850.0,
                "address": {
                  "address1": "123 Main St",
                  "address2": "Apt 4B",
                  "city": "San Jose",
                  "state_or_province": "CA",
                  "postal_code": "95112",
                  "country": "US"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment created",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                },
                "example": {
                  "id": "Kp2Zq9YhT3L",
                  "address": {
                    "address1": "123 Main St",
                    "address2": "Apt 4B",
                    "city": "San Jose",
                    "state_or_province": "CA",
                    "postal_code": "95112",
                    "country": "US",
                    "lat": 37.3382,
                    "lng": -121.8863,
                    "one_line_address": "123 Main St, Apt 4B, San Jose, CA 95112"
                  },
                  "monthly_rent_amount": 1850.0,
                  "monthly_rent": {
                    "cents": 185000,
                    "currency": "USD"
                  },
                  "monthly_rent_day_of_month": 1,
                  "move_in_date": "2026-06-01",
                  "lease_end_date": "2027-05-31",
                  "lease_signed_date": "2026-05-20",
                  "lease_month_to_month": false,
                  "status": "pending",
                  "customer_id": "3YhTq9ZkLp2",
                  "issues": [],
                  "rental_verifications": [],
                  "checked_out": false,
                  "landlord": {
                    "contact_first_name": "Sam",
                    "contact_last_name": "Owner",
                    "company_name": "Acme Property Management",
                    "type": "property_manager",
                    "phone": "+14085559876",
                    "email": "sam@acme-pm.example"
                  },
                  "allow_landlord_contact": true,
                  "products": [
                    "ongoing"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or `Customer already have active enrollment`",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/partner/v1/enrollments/{enrollment_id}": {
      "parameters": [
        {
          "name": "enrollment_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Enrollment id as returned by this API (partner-scoped, opaque)."
        }
      ],
      "get": {
        "tags": [
          "Enrollments"
        ],
        "operationId": "getPartnerV1EnrollmentsEnrollmentId",
        "summary": "Get an enrollment",
        "responses": {
          "200": {
            "description": "Enrollment",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                },
                "example": {
                  "id": "Kp2Zq9YhT3L",
                  "address": {
                    "address1": "123 Main St",
                    "address2": "Apt 4B",
                    "city": "San Jose",
                    "state_or_province": "CA",
                    "postal_code": "95112",
                    "country": "US",
                    "lat": 37.3382,
                    "lng": -121.8863,
                    "one_line_address": "123 Main St, Apt 4B, San Jose, CA 95112"
                  },
                  "monthly_rent_amount": 1850.0,
                  "monthly_rent": {
                    "cents": 185000,
                    "currency": "USD"
                  },
                  "monthly_rent_day_of_month": 1,
                  "move_in_date": "2026-06-01",
                  "lease_end_date": "2027-05-31",
                  "lease_signed_date": "2026-05-20",
                  "lease_month_to_month": false,
                  "status": "approved",
                  "customer_id": "3YhTq9ZkLp2",
                  "issues": [],
                  "rental_verifications": [
                    {
                      "id": "Vq7Lm2Zk9Yh",
                      "for_month": "2026-08-01",
                      "status": "verified",
                      "months_delinquency": 0
                    }
                  ],
                  "checked_out": false,
                  "landlord": {
                    "contact_first_name": "Sam",
                    "contact_last_name": "Owner",
                    "company_name": "Acme Property Management",
                    "type": "property_manager",
                    "phone": "+14085559876",
                    "email": "sam@acme-pm.example"
                  },
                  "allow_landlord_contact": true,
                  "products": [
                    "ongoing"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Enrollments"
        ],
        "operationId": "patchPartnerV1EnrollmentsEnrollmentId",
        "summary": "Update lease details or record a move-out",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentUpdate"
              },
              "example": {
                "moved_out_date": "2026-09-30"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated enrollment",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                },
                "example": {
                  "id": "Kp2Zq9YhT3L",
                  "address": {
                    "address1": "123 Main St",
                    "address2": "Apt 4B",
                    "city": "San Jose",
                    "state_or_province": "CA",
                    "postal_code": "95112",
                    "country": "US",
                    "lat": 37.3382,
                    "lng": -121.8863,
                    "one_line_address": "123 Main St, Apt 4B, San Jose, CA 95112"
                  },
                  "monthly_rent_amount": 1850.0,
                  "monthly_rent": {
                    "cents": 185000,
                    "currency": "USD"
                  },
                  "monthly_rent_day_of_month": 1,
                  "move_in_date": "2026-06-01",
                  "lease_end_date": "2027-05-31",
                  "lease_signed_date": "2026-05-20",
                  "lease_month_to_month": false,
                  "status": "approved",
                  "customer_id": "3YhTq9ZkLp2",
                  "issues": [],
                  "rental_verifications": [
                    {
                      "id": "Vq7Lm2Zk9Yh",
                      "for_month": "2026-08-01",
                      "status": "verified",
                      "months_delinquency": 0
                    }
                  ],
                  "checked_out": false,
                  "landlord": {
                    "contact_first_name": "Sam",
                    "contact_last_name": "Owner",
                    "company_name": "Acme Property Management",
                    "type": "property_manager",
                    "phone": "+14085559876",
                    "email": "sam@acme-pm.example"
                  },
                  "allow_landlord_contact": true,
                  "products": [
                    "ongoing"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parameter validation failed",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Read-only API key used for a write",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No such record for this partner (also returned for records outside the API key's owner / property-group scope)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Enrollments"
        ],
        "operationId": "deletePartnerV1EnrollmentsEnrollmentId",
        "summary": "Delete (unenroll) an enrollment",
        "description": "Stops reporting and returns the enrollment in its final state.",
        "responses": {
          "200": {
            "description": "Enrollment deleted; final state returned",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                },
                "example": {
                  "id": "Kp2Zq9YhT3L",
                  "address": {
                    "address1": "123 Main St",
                    "address2": "Apt 4B",
                    "city": "San Jose",
                    "state_or_province": "CA",
                    "postal_code": "95112",
                    "country": "US",
                    "lat": 37.3382,
                    "lng": -121.8863,
                    "one_line_address": "123 Main St, Apt 4B, San Jose, CA 95112"
                  },
                  "monthly_rent_amount": 1850.0,
                  "monthly_rent": {
                    "cents": 185000,
                    "currency": "USD"
                  },
                  "monthly_rent_day_of_month": 1,
                  "move_in_date": "2026-06-01",
                  "lease_end_date": "2027-05-31",
                  "lease_signed_date": "2026-05-20",
                  "lease_month_to_month": false,
                  "status": "finished",
                  "customer_id": "3YhTq9ZkLp2",
[...]
